body,html {
	font-family: $aileron;
	letter-spacing: 2px;
	color: $greyTxt;
	//blog single
	.blog-single{
		max-width: 600px;
		margin: 0 auto;
		padding: 2em 0;
		img{
			max-width: 100%;
			height: auto;
			margin: 2em auto;
		}
		
		header {
			h2 {
				display: inline-block;
				background-color: black;
				color: white;
				padding: .3em;
			}
		}

		p {
			margin-bottom: 2em;
		}
	}

	p {
		color: $greyTxt;
	}

	a{
		&.blackBtn {
			display: inline-block;
			margin: 1em auto;
			width: 170px;
			padding: .3em; 
			letter-spacing: 2px;
			text-transform: uppercase;
			font-family: $aileronLt;
			color: white;
			background-color: black; 
		}
	}

	strong {
		display: inline-block; 
	}

	//for terms
	&.page-id-165{
		h3{
			display: inline-block;
			background: black;
			color: white;
			padding: .3em;
		}
		p {
			line-height: 2;
		}
	}
}
//mixins

body {
	margin-top: 60px; 
}

@mixin blackBtn {
  	a {
  		display: inline-block;
		margin: 1em auto;
		width: 170px;
		padding: .3em;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-family: $aileronLt;
		color: white;
		background-color: black;
  	}
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//media queries
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin bdesktop {
  @media (min-width: #{$big-desktop-width}) {
    @content;
  }
}

@mixin defdesktop {
  @media (max-width: #{$big-desktop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}


@mixin sm-desktop {
  @media (max-width: #{$sm-desktop-width}) {
    @content;
  }
}

//Buttons
.btn{
	border-radius:0;
	color:white;
	&.blue{
		background-color:$blue;
	}
}

//No gutter
.no-gutter{
	>[class*='col-'] {
    	padding-right:0;
    	padding-left:0;
	}
} 


//Post data fix
.post-data.container{
	padding:2em 0;
	min-height: 600px;
}