/*----------------------------------------
HEADER
----------------------------------------*/
.social-bs{
	position: absolute;
	z-index: 20;
	top: 50%;
	right: -134px;
    transform: rotate(-90deg);
    @include mobile {
    	right: -155px;
    }
	li{
		display: inline-block;
		a {
			color: $black;
			font-weight: bold;
			padding: 0.5em 1em;
			border-right: 1px solid;
		}
		&:last-child{
			a {
				border-right: none;
			}
		}
	}
}

.langs-lst {
	ul {
		position: absolute;
		z-index: 20;
		top: 50%;
		left: -36px;
	    transform: rotate(-90deg);
	    @include mobile {
	    	left: -55px;
	    }
		li{
			display: inline-block;
			a {
				color: $black;
				font-weight: bold;
				padding: 0.5em 1em;
				border-right: 1px solid;
			}
			&:last-child{
				a {
					border-right: none;
				}
			}
			.wpml-ls-display{
				display: none;
			}
		}
	}
}

.navbar{
	background: white;
	border: none;
	margin: 0;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	//Logo structure
	.navbar-header{
		background: transparent;
		border: none;
		.navbar-brand{
			width: 296px;
			height: 82px;
			background-image: url('../img/logo.png');
			text-indent: -99999px;
			@include mobile {
		    	width: 200px;
		    	height: 62px;
		    	background-size: 100%;
		    	background-repeat: no-repeat;
		    }
		}
	}
	//menu strcture
	.navbar-collapse{
		float: right;
		@include mobile{
			float: none;
			clear: both;
		}
		ul.navbar-nav{
			background: transparent;
			li{
				a{
					font-size: 1em;
					font-weight: bold;
					position: relative;
					&::after{
						content:"";
						width: 2px;
						height: 20px;
						display: block;
						background: $black;
						position: absolute;
						top: 15px;
						right: 0;
						@include mobile{
							display: none;
						}
					}

					&:hover,
					&:focus{
						background:transparent;
					}
				}

				&:last-child {
					a {
						width: 27px;
						height: 17px;
						background-image: url('../img/mail-icon.png');
						text-indent: -9999px;
						padding: 0;
						margin: 16px 10px 0;
						&::after {
							display: none;
						}
						@include mobile {
							margin: 16px 14px 12px;
						}
					}
				}

				&.active {
					a {
						background-color: transparent;
					}
				}
			}
		}
	}
}