//Color palete
$blue: #00A19A;
$purple: #E71D73;
$grey: #D8D9DD;
$ltGrey: #F7F7F8;

$grey-1 : #E6E7E8;
$grey-2 : #5d5d5d;
$grey-3 : #F2F2F2;
$grey-4 : #666;
$grey-5 : #555656;
$grey-6 : #C2C3C9;

$white: #ffffff;
$black: #000000;
//opacities
$op-blue:rgba(0,184,234,0.8);
$op-blue2:rgba(0,184,234,0.7);

$op-red:rgba(219,67,73,0.7);


//fonts

$aileron: 'Aileron';
$aileronLt:  'Aileron Light';
$aileronltH: 'Aileron Heavy';
$aileronltB: 'Aileron Bold';

