//Color palete
$blue:#8BBEBC;
$purple: #BF3376;
$grey: #D8D9DD;
$ltGrey: #F7F7F8;
$white: #ffffff;
//opacities
$op-blue:rgba(0,184,234,0.8);
$op-blue2:rgba(0,184,234,0.7);

$op-red:rgba(219,67,73,0.7);


//fonts

$aileron: 'Aileron';
$aileronLt:  'Aileron Light';
$aileronltH: 'Aileron Heavy';
$aileronltB: 'Aileron Bold';

